{%extends "instagram-page/base.html"%}
{% load bootstrap3 %}
{%block content%}
<div class="container">
    <div class="row">
        <!-- Empty div -->
       
        <div class="col-md-7 panel-form" >
            {% for post in posts %}
          <div class="panel panel-default" >
    
            <div class="panel-heading" style="margin: 0%; padding-bottom: 0;">
              <div class="profile-pic">
                

              </div>
              <h4> {{ post.user.user.username| capfirst }}</h4>
            </div>
            <div class="panel-body" style="width: 100%;">
                <img src="{{post.image.url}}" alt=""  style=" width: 100%;">
               <p>
                {{ post.image_caption| safe }}
               </p> 
                <p class="muted"> {{ post.date_posted|timesince }} ago</p>
               
    
               {% for comment in post.comments.all|slice:'2' %}
               <div class="comment">
                   <div class="ml-4"><strong>{{ comment.user.user.username }}</strong> <span
                           class="text-secondary">{{ comment.content }}</span>
                   </div>
               </div>
               
               {% empty %}
               {% endfor %}
               <a href="{% url 'comment' post.id %}">Add a Comment</a>
            </div>
    
          </div>
          {% endfor %}
        </div>
        <!-- empty div -->
        <div class="col-md-4">
            <h5 class="text-center">Suggestions for you</h5>
            {% for user in users%}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="rounded-circle" src="{{ user.profile.profile_photo.url }}"
                     width="45px" height="45px">
            
           
                <span><a href="">{{user.username}}</a></span>
                </div>

            </div>
            
                
           
            {%endfor%}
        </div>
      </div>
  </div>
{%endblock%}
